.Label {
    width: 350px;
    display: inline-block;
    margin: 15px;
    text-align: left;
  }
  .credentials {
    height: 30px;
  }
  .login-input {
    width: 80%;
    margin: 15px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
  }
  .credentials:focus {
    background-color: rgb(232, 240, 254);
  }
  .Container {
    width: 400px;
    margin: auto;
    margin-top: -5%;
    border-radius: 15px;
    box-shadow: inset rgb(50 50 50 / 25%) 1px 0px 2px 1px, rgb(0 0 0 / 30%) 0px 0px 6px 1px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Arial Rounded MT";
    padding: 20px;
}
  .submit {
    margin: auto;
    height: 40px;
    width: 80%;
    margin-top: 20px;
    border-radius: 4px;
  }
  
  .signup {
    margin: auto;
    text-align: center;
  }
  .create-account {
    height: 40px;
    width: 400px;
  }
  #show-password {
    text-align: left;
    margin: 2% 0 2% 10%;
  }
  #show-password > input {
    width: auto;
  }
  button {
    font-size: 16px;
  }